<!doctype html>
    <head>
          <link rel='stylesheet' href='/styles/bootstrap.min.css' />
	</head>  
    
<html>
<body>

<div class="container mt-5">
   <h1>New folder</h1>

    <form action="/folders/alta" method="post" > 
   
            <div class="form-group">
                
                <input type="text" class="form-control" name="nombre" >
                <input type="hidden" name="id_usuario"  value="{{id_usuario}}">
            </div>
        <input type="submit" value="Add">
    </form>
   </div>
  
</body>
</html>