<!doctype html>
    <head>
          <link rel='stylesheet' href='/styles/bootstrap.min.css' />
	</head>  
    
<html>
<body>

<div class="container mt-5">
   <h1>{{title}}</h1>
    <form action="usuarios/chequearLogin" method="post">
    <div class="form-group">
    <label>User:</label>
    <input type="text" class="form-control" name="usuario" size="30">
    </div>
    <div class="form-group">
    <label>Password:</label>
    <input type="text" class="form-control" name="clave" >
    </div>
    <input type="submit" value="Send">
    </form>
   </div>
  
</body>
</html>