<!doctype html>
    <head>
          <link rel='stylesheet' href='/styles/bootstrap.min.css' />
          <link rel='stylesheet' href='/styles/bootstrap.min.css' />
          <link rel='stylesheet' href='/styles/bootstrap.css' />
          
          <link rel='stylesheet' href='/styles/bootstrap-reboot.css' />
          <link rel='stylesheet' href='/styles/bootstrap-grid.css' />
          <link rel='stylesheet' href='/styles/bootstrap-grid.min.css' />
	</head>  
    
<html>
<body>

<div class="container mt-5">
   <h1>Something you should know...</h1>
   
   <P>{{mensaje}}</P>
   <!--a class="nav-link" href="..">Back</a-->
      <a href="/">Back</a></p>
   </div>
  
</body>
</html>