<!doctype html>
    <head>
          <link rel='stylesheet' href='/styles/bootstrap.min.css' />
	</head>  
    
<html>
<body>

<div class="container mt-5">
    <form action="/items/confirmarModificacion" method="post" >
    {{#each items}}
    <h1>Editing task "{{descripcion}}"</h1>
    <table>
    <tr>
        <td>
            <input type="text" class="form-control" name="descripcion" value="{{descripcion}}" size="30">
        </td>
        <td width="20">
                <input type="hidden"  name="id_item" value="{{id_item}}" >
                <input type="hidden"  name="id_folder" value="{{id_folder}}" >
                <input size="30" type="checkbox" class="form-control" name="hecho"  {{#if hecho}}checked{{/if}}>
        </td>
    </tr> 

    {{/each}}  
    <tr>
    <td colspan="2">
    <input type="submit" value="Save">
    <input type="button" value="Cancel" onclick="javascript:history.back()"> 
     </td>
    </tr>
    </table>
         </form>
   
    
   </div>
  
</body>
</html>